* {
  box-sizing: border-box;
}

.App {
  /*
  background: rgb(229,255,71);
  background: linear-gradient(135deg, rgba(229,255,71,1) 39%, rgba(0,212,255,1) 72%);
  */
  background: #FFFAA1;
  background: -webkit-linear-gradient(top right, #FFFAA1, #55F0FF);
  background: -moz-linear-gradient(top right, #FFFAA1, #55F0FF);
  background: linear-gradient(to bottom left, #FFFAA1, #55F0FF);

  min-height: 1500px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  border: none;
  border-radius: 5px;
  min-height: 30px;
  min-width: 60%;
  font-size: 20px;
}

.search-btn{
  border: none;
  border-radius: 2px;
  font-size: 20px;
  min-height: 30px;
  background-color: #55F0FF;
}

.search-btn:hover{
  background-color: #1a96a1;
  cursor: pointer;
}

.recipesContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
}